body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.zone {
    font-size: 2em;
    border-radius: 4px;
}


.section_1 {
    display: block;
    margin: 20px;
    background-image: url("../img/water5.jpg");
    height: 400px;
}

.title {
    color: #20691A;
    display: flex;
    justify-content: center;
}

.sub_title {
    color: #FF307B;
    display: flex;
    justify-content: center;

}

.mainNav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.section_2 {
    margin: 20px;
}

.gripwrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 150px;
    margin: 20px;
    max-width: 1440px;
}

.box {
    margin: 20px;
    max-width: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.box_img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    justify-content: center;

}

.box_main {
    text-align: center;
}

.box div:first-child {
    margin-bottom: 30px;
}

.btn {
    background-color: #318500;
    width: 100%;
    font-size: 25px;
    justify-content: space-between;
    border: 0cm;
}

.btn:hover {
    background-color: #20691A;
}

.btn a {
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
}

.content {
    font-size: 18px;
}

.map_title {
    font-size: 25px;
    font-weight: bold;
}

footer {
    text-align: center;
}